<%- include('../partials/header.ejs') %>

<body class="w-full bg-neutral-900">
    <%- include('../partials/menu.ejs') %>
    <%- include('../partials/menu2.ejs') %>
    <main class="container mx-auto py-14 bg-neutral-900">
        <h1 class="md:text-6xl text-4xl py-6 text-center font-bold text-customWhite">Bolsas</h1>
        <nav class="flex justify-center space-x-4 mb-4">
            <button class="px-3 py-1 md:text-base text-xs bg-customWhite text-black border rounded-full">Bolsa Interna</button>
            <button class="px-3 py-1 md:text-base text-xs text-customWhite border rounded-full">Bolsa Externa</button>
        </nav>
        <div class="w-full md:w-2/3 mx-auto">
            <article class="flex flex-col md:flex-row gap-2  p-5">
                <div class="md:w-1/2">
                    <img src="./images/bolsa1.png" alt="Bolsa 1" class="w-10/12">
                </div>
                <div class="md:w-3/4 h-full">
                    <p class="mb-6 text-justify text-customWhite">Encontra-se aberto concurso para atribuição a Bolsa de Formação em Contexto de Trabalho - FCT - no qual o aluno ficará responsável pelo desenvolvimento de projecto de fotografia planeado em projecto para novo website da EPC. Pretende-se que o aluno desenvolva fotografia retrato, do qual irá adquirir conhecimento específico de todo o processo à realização, produção e edição. O trabalho será desenvolvido no EPC|LAB, localizado na escola profissional de Carvalhais, sob coordenação do Professor Márcio Silva.</p>
                    <a href="/bolsad" class="px-2 py-1 border rounded-xl text-customWhite hover:bg-customWhite hover:text-neutral-900 text-sm mt-2 inline-block">Ler mais</a>
                </div>
            </article>
        
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
