<%- include('../partials/header.ejs') %>

    <body class="w-full">
        <%- include('../partials/menu.ejs') %>
            <%- include('../partials/menu2.ejs') %>
                <main class="h-auto w-full bg-neutral-900 md:p-20 p-10 flex flex-col">
                    <div><img src="./images/header.png" class="bg-cover"></div>
                    <section class="w-full flex md:flex-row flex-col py-10">
                        <div class="w-1/4 p-6">
                            <img src="./images/bolsa1.png" alt="">
                        </div>
                        <div class="w-3/4">
                            <h1 class="text-gray-50 font-bold text-3xl p-2">Bolsa de Formação em Contexto de Trabalho
                            </h1>
                            <p class="text-gray-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                                modi
                                recusandae vel placeat</p>
                            <h2 class="font-bold text-gray-50 p-2">Área de actuação</h2>
                            <p class="text-gray-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse modi
                                recusandae vel placeat</p>
                            <h2 class="font-bold text-gray-50 p-2">Objetivo do projeto</h2>
                            <p class="text-gray-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse modi
                                recusandae vel placeat</p>
                            <h2 class="font-bold text-gray-50 p-2">Plano de trabalho</h2>
                            <p class="text-gray-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse modi
                                recusandae vel placeat</p>
                            <h2 class="font-bold text-gray-50 p-2">Local de trabalho</h2>
                            <p class="text-gray-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse modi
                                recusandae vel placeat</p>
                            <h2 class="font-bold text-gray-50 p-2">Duração e regime de atividade</h2>
                            <p class="text-gray-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse modi
                                recusandae vel placeat</p>
                            <h2 class="font-bold text-gray-50 p-2">Condições da bolsa</h2>
                            <p class="text-gray-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse modi
                                recusandae vel placeat</p>
                            <h2 class="font-bold text-gray-50 p-2">Critérios de avaliação e formalização de
                                candidatura
                            </h2>
                            <p class="text-gray-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse modi
                                recusandae vel placeat</p>
                            <h2 class="font-bold text-gray-50 p-2">Composição do júri de seleção</h2>
                            <p class="text-gray-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse modi
                                recusandae vel placeat</p>
                            <h2 class="font-bold text-gray-50 p-2">Prazo e receção de candidaturas</h2>
                            <p class="text-gray-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse modi
                                recusandae vel placeat</p>
                            <h2 class="font-bold text-gray-50 p-2">Publicação/notificação dos resultados</h2>
                            <p class="text-gray-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse modi
                                recusandae vel placeat</p>
                        </div>
                    </section>
                </main>
                <%- include('../partials/footer.ejs') %>