<%- include('../partials/header.ejs') %>

<body>
    <header style="background-image: url('/images/header.jpg');">
        <div id="container-1">
            <div id="logo">
                <!--Logo-->
                <img src="#" alt="Logo" >
            </div>
            <button>
                Menu
            </button>
            <section>
                <div>
                    <h1>Candidata-te às nossas Bolsas FCT</h1>
                </div>
                <button>
                    ver como
                </button>
            </section>
        </div>
    </header>
    <main>
        <section>
            <div id="text-">
                <h1>
                    Laborátorio de <br> Comunicação, <br> Multimédia e  Informática
                    de <br> Gestão para projectos internos e <br> externos. 
                </h1>
            </div>
        </section>
    </main>
<%- include('../partials/footer.ejs') %>
