<%- include('../partials/header.ejs') %>

<body class="w-full">
    <header>
        imagem
    </header>

    <main class="w-full h-96 bg-neutral-900 rounded-tr-3xl rounded-tl-3xl p-10">
        <h1 class="text-gray-100 font-bold uppercase md:text-4xl text-2xl">
            Laboratório de <br> Comunicação, <br> Multimédia e  Informática
            de <br> Gestão para projectos internos e <br> externos.
        </h1>
    </main>
<%- include('../partials/footer.ejs') %>
