<%- include('../partials/header.ejs') %>

<body class=" text-white">
    <header class="w-auto " style=" height:95vh; background:url('/images/header.png'); background-position: left center; background-size: cover; background-attachment: fixed;">
            <nav class="navbar d-flex container  justify-content-between ">
                <div id="logo" class="navbar-brand mt-2  ">
                    <!--Logo-->
                    <img src="#" alt="Logo" >
                </div>
                <button  class="btn btn-dark  mt-2 ">
                    Menu
                </button>
            </nav>
            <div class="container-sm d-grid ">

                <div class="line">
                
                </div>
                <div class="d-lg-inline-block pt-5" >
                    <h1 class="">Candidata-te <br> às nossas Bolsas FCT</h1>
                                                    
                    <button class="btn  p-2 bg-transparent border-white btn-outline-light  ">
                        ver como
                    </button>
                </div>

            </div>

    </header>

    <main class="bg-black " style="border-top-left-radius: 65px; border-top-right-radius: 65px; margin-top: -60px;">
        <div class="container d-inline-block p-5  align-content-md-end">
            <section>
                <div>
                    <h1>
                        Laborátorio de <br> Comunicação, <br> Multimédia e  Informática
                        de <br> Gestão para projectos internos e <br> externos.
                    </h1>
                </div>
            </section>
        </div>
    </main>
<%- include('../partials/footer.ejs') %>
