<%- include('../partials/header.ejs') %>

<body class="w-full">
    <header class="relative h-screen">
        <video class="absolute inset-0 w-full h-full object-cover" autoplay muted loop>
            <source src="video/video.mp4" type="video/mp4">
        </video>
        <%- include('../partials/menu.ejs') %>
        <div class="text-gray-100 font-bold text-2xl absolute top-28 md:right-48 right-24">Candidata-te<br> às nossas <br>
            bolsas de FCT<br>
            <a href="/bolsas" class="border px-2 py-1 rounded-xl hover:bg-gray-100 hover:text-neutral-900 text-sm">Ver como</a>
        </div>
    </header>
    <main id="main" class="absolute  bottom-0 left-0 w-full h-72 bg-neutral-900 rounded-tr-3xl rounded-tl-3xl md:p-10 pt-10 pl-5">
        <h1 class="text-blue-700 font-bold uppercase md:text-2xl text-xl">
            Laboratório de <br> Comunicação, <br> Multimédia e <br> Informática de
            Gestão <br> para projectos <br> internos e externos.
        </h1>
    </main>
<%- include('../partials/footer.ejs') %>
