<%- include('../partials/header.ejs') %>

<body>
    <h1 class="alert alert-primary" role="alert">Escola Profissional de Carvalhais</h1>
    <h3>EPCLab</h3>
</body>

<%- include('../partials/footer.ejs') %>
