<%- include('../partials/header.ejs') %>

<body class="w-full bg-customWhite text-customBlack">
    <header class="relative w-full h-screen">
        <div class="fixed inset-0 z-0">
            <video class="w-full h-full object-cover" autoplay muted loop>
                <source src="video/video.mp4" type="video/mp4">
            </video>
        </div>
        <%- include('../partials/menu.ejs') %>
        <div class="text-customWhite font-bold text-2xl absolute top-40 md:right-24 right-28 bg-white bg-opacity-25 p-4 rounded-xl shadow-xl">
            Candidata-te<br> às nossas <br> bolsas de FCT<br>
            <a href="/bolsas" class="border px-2 py-1 rounded-xl text-customWhite hover:bg-customWhite hover:text-neutral-900 text-sm mt-2 inline-block">Ver como</a>
        </div>
    </header>
    <main id="main" class="relative z-10 w-full bg-slate-100 rounded-tr-3xl rounded-tl-3xl  py-16 pl-5 shadow-xl -mt-20">  
        <h1 class="text-customBlue font-bold uppercase md:text-3xl text-2xl leading-tight">
            Laboratório de <br> Comunicação, <br> Multimédia e <br> Informática de Gestão <br> para projectos <br> internos e externos.
        </h1>
    </main>
<%- include('../partials/footer.ejs') %> 

