<%- include('../partials/header.ejs') %>
    <body>
        <div>
            <div>
                <div>
                    <form action="/authenticate" method="post">
                        <input type="email" class="form-controlo" name="email" placeholder="email@exemplo.pt"><br>
                        <input type="password" class="form-controlo" name="password" placeholder="******"><br>
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>