<%- include('../partials/header.ejs') %>
    <body>
        <div class="w-full h-screen flex justify-center items-center  bg-gray-300 p-6">
            <div class="md:w-1/2 w-full h-92 bg-gray-100 rounded-lg shadow-md p-10">
                <h2 class="text-center font-bold text-3xl lg:text-4xl text-neutral-900 ">
                    Login
                </h2>
                <form class="mt-10" action="" method="POST">
                    <label for="email" class="block text-xs font-semibold text-gray-600 uppercase">E-mail</label>
                    <input id="email" type="email" name="email" placeholder="email@exemplo.pt" class="block w-full py-3 px-1 mt-2 
                        text-gray-800 appearance-none border-b-2 border-gray-100 focus:text-gray-500 focus:outline-none focus:border-gray-200"
                        required autofocus/>
                    <label for="password" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Palavra-Passe</label>
                    <input id="password" type="password" name="password" placeholder="********" class="block w-full py-3 px-1 mt-2 mb-4
                        text-gray-800 appearance-none border-b-2 border-gray-100 focus:text-gray-500 focus:outline-none focus:border-gray-200" required />
                 <button type="submit" class="w-full py-3 mt-10 bg-gray-800 rounded-lg font-medium text-gray-100 uppercase hover:bg-neutral-500">
                        Entrar
                    </button>
                </form>
            </div>
        </div> 
    </body>
</html>