<%- include('../partials/header.ejs') %>

    <body class="w-full">
        <%- include('../partials/menu.ejs') %>
            <%- include('../partials/menu2.ejs') %>
                <main class="h-auto bg-neutral-900 md:p-20 p-10 flex flex-col">
                    <div class="flex justify-center md:text-6xl text-3xl font-bold text-gray-50 md:p-20 p-10">
                        Parcerias
                    </div>
                    <section class="flex flex-wrap gap-4 justify-center">
                        <article class="h-64 md:w-80 w-full border border-gray-100 text-gray-50 rounded-md">
                            Parceria 1
                        </article>
                        <article class="h-64 md:w-80 w-full border border-gray-100 text-gray-50 rounded-md">
                            Parceria 2
                        </article>
                        <article class="h-64 md:w-80 w-full border border-gray-100 text-gray-50 rounded-md">
                            Parceria 3
                        </article>
                        <article class="h-64 md:w-80 w-full border border-gray-100 text-gray-50 rounded-md">
                            Parceria 4
                        </article>
                        <article class="h-64 md:w-80 w-full border border-gray-100 text-gray-50 rounded-md">
                            Parceria 5
                        </article>
                        <article class="h-64 md:w-80 w-full border border-gray-100 text-gray-50 rounded-md">
                            Parceria 6
                        </article>

                    </section>
                </main>
                <%- include('../partials/footer.ejs') %>