<%- include('../partials/header.ejs') %>

    <body class="w-full">
        <%- include('../partials/menu.ejs') %>
            <%- include('../partials/menu2.ejs') %>
                <main class="h-auto bg-neutral-900 md:p-20 p-10 flex flex-col">
                    <div class="flex justify-center md:text-6xl text-3xl font-bold text-blue-700 md:p-20 p-10">
                        Orgulho dos nossos projetos
                    </div>
                    <section class=" w-full grid md:grid-cols-2 grid-cols-1 gap-4">
                        <a href="/projetod">
                            <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-8 pb-8 pt-40 max-w-lg mx-auto mt-12 group">
                                <img src="./images/header.png" alt="Projeto da aluna Beatriz"  class="absolute inset-0 h-full w-full object-cover transition-opacity duration-300 group-hover:opacity-20">
                                <div class="absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900/40 transition-opacity duration-300 group-hover:opacity-10"></div>
                                <div class="relative z-10 opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                                    <h3 class="mt-3 text-3xl font-bold text-white">3D</h3>
                                    <p class="gap-y-1 overflow-hidden text-sm leading-6 text-blue-700">Beatriz Costa</p>
                                </div>
                            </article>
                        </a>
                        <a href="/projetod">
                            <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-8 pb-8 pt-40 max-w-lg mx-auto mt-12 group">
                                <img src="./images/header.png" alt="Projeto da aluna Beatriz"  class="absolute inset-0 h-full w-full object-cover transition-opacity duration-300 group-hover:opacity-20">
                                <div class="absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900/40 transition-opacity duration-300 group-hover:opacity-20"></div>
                                <div class="relative z-10 opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                                    <h3 class="mt-3 text-3xl font-bold text-white">3D</h3>
                                    <p class="gap-y-1 overflow-hidden text-sm leading-6  text-blue-700">Beatriz Costa</p>
                                </div>
                            </article>
                        </a>
                        <a href="/projetod">
                            <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-8 pb-8 pt-40 max-w-lg mx-auto mt-12 group">
                                <img src="./images/header.png" alt="Projeto da aluna Beatriz"  class="absolute inset-0 h-full w-full object-cover transition-opacity duration-300 group-hover:opacity-20">
                                <div class="absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900/40 transition-opacity duration-300 group-hover:opacity-20"></div>
                                <div class="relative z-10 opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                                    <h3 class="mt-3 text-3xl font-bold text-white">3D</h3>
                                    <p class="gap-y-1 overflow-hidden text-sm leading-6 text-blue-700">Beatriz Costa</p>
                                </div>
                            </article>
                        </a>
                        <a href="/projetod">
                            <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-8 pb-8 pt-40 max-w-lg mx-auto mt-12 group">
                                <img src="./images/header.png" alt="Projeto da aluna Beatriz"  class="absolute inset-0 h-full w-full object-cover transition-opacity duration-300 group-hover:opacity-20">
                                <div class="absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900/40 transition-opacity duration-300 group-hover:opacity-20"></div>
                                <div class="relative z-10 opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                                    <h3 class="mt-3 text-3xl font-bold text-white">3D</h3>
                                    <p class="gap-y-1 overflow-hidden text-sm leading-6 text-blue-700">Beatriz Costa</p>
                                </div>
                            </article>
                        </a>
                        <a href="/projetod">
                            <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-8 pb-8 pt-40 max-w-lg mx-auto mt-12 group">
                                <img src="./images/header.png" alt="Projeto da aluna Beatriz"  class="absolute inset-0 h-full w-full object-cover transition-opacity duration-300 group-hover:opacity-20">
                                <div class="absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900/40 transition-opacity duration-300 group-hover:opacity-20"></div>
                                <div class="relative z-10 opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                                    <h3 class="mt-3 text-3xl font-bold text-white">3D</h3>
                                    <p class="gap-y-1 overflow-hidden text-sm leading-6 text-blue-700">Beatriz Costa</p>
                                </div>
                            </article>
                        </a>
                       
                    </section>
                    
                </main>
                <%- include('../partials/footer.ejs') %>