<%- include('../partials/header.ejs') %>

    <body class="w-full">
        <%- include('../partials/menu.ejs') %>
            <%- include('../partials/menu2.ejs') %>
                <main class="h-auto bg-neutral-900 p-20 flex flex-col">
                    <div class="flex justify-center mb-20 md:text-6xl text-3xl font-bold text-gray-50">Orgulho dos
                        nossos
                        projetos
                    </div>
                    <section class="flex flex-wrap gap-4 justify-center">
                        <article class="h-64 md:w-80 w-full bg-orange-500 rounded-md">
                            Projeto 1
                        </article>
                        <article class="h-64 md:w-80 w-full bg-orange-500 rounded-md">
                            Projeto 2
                        </article>
                        <article class="h-64 md:w-80 w-full bg-orange-500 rounded-md">
                            Projeto 3
                        </article>
                        <article class="h-64 md:w-80 w-full bg-orange-500 rounded-md">
                            Projeto 4
                        </article>
                    </section>
                </main>
                <%- include('../partials/footer.ejs') %>