<%- include('../partials/header.ejs') %>

    <body class="w-full">
        <%- include('../partials/menu.ejs') %>
        <%- include('../partials/menu2.ejs') %>
        <main class="h-screen bg-neutral-900 p-20">
            <h1 class="text-2xl text-gray-100">Projectos</h1>
        </main>
<%- include('../partials/footer.ejs') %>