<%- include('../partials/header.ejs') %>

    <body class="w-full">
        <%- include('../partials/menu.ejs') %>
            <%- include('../partials/menu2.ejs') %>
                <main class="h-auto bg-neutral-900 md:p-20 p-10 flex flex-col">
                    <div class="flex justify-center md:text-6xl text-3xl font-bold text-gray-50 md:p-20 p-10">Orgulho
                        dos
                        nossos
                        projetos
                    </div>
                    <section class="flex flex-wrap gap-4 justify-center">
                        <a href="/projetod">
                            <article class="h-64 md:w-80 w-full bg-orange-500 rounded-md">
                                Projeto 1
                            </article>
                        </a>
                        <a href="/projetod">
                            <article class="h-64 md:w-80 w-full bg-orange-500 rounded-md">
                                Projeto 2
                            </article>
                        </a>
                        <a href="/projetod">
                            <article class="h-64 md:w-80 w-full bg-orange-500 rounded-md">
                                Projeto 3
                            </article>
                        </a>
                        <a href="/projetod">
                            <article class="h-64 md:w-80 w-full bg-orange-500 rounded-md">
                                Projeto 4
                            </article>
                        </a>
                        <a href="/projetod">
                            <article class="h-64 md:w-80 w-full bg-orange-500 rounded-md">
                                Projeto 5
                            </article>
                        </a>
                        <a href="/projetod">
                            <article class="h-64 md:w-80 w-full bg-orange-500 rounded-md">
                                Projeto 6
                            </article>
                        </a>
                    </section>
                </main>
                <%- include('../partials/footer.ejs') %>