<%- include('../partials/header.ejs') %>

    <body class="w-full">
        <%- include('../partials/menu.ejs') %>
            <%- include('../partials/menu2.ejs') %>
                <main class="h-auto w-full bg-neutral-900 md:p-20 p-10 flex flex-col">
                    <div><img src="./images/header.png" class="bg-cover"></div>
                    <section class="w-full flex py-10">
                        <div class="w-1/4">

                        </div>
                        <div class="w-3/4">
                            <h1 class="font-bold text-2xl text-gray-50 py-4">Fotorealismo 3D</h1>
                            <h3 class="font-semibold text-xl text-gray-50 py-2">Beatriz Gouveia</h3>
                            <p class="text-gray-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse modi
                                recusandae vel placeat
                                ut eveniet natus? Laboriosam architecto, beatae ullam perspiciatis nesciunt porro
                                laborum? Mollitia necessitatibus similique distinctio nam aliquid.</p>
                        </div>
                    </section>
                </main>
                <%- include('../partials/footer.ejs') %>