<%- include('../partials/header.ejs') %>

    <body class="w-full">
        <%- include('../partials/menu.ejs') %>
            <%- include('../partials/menu2.ejs') %>
                <main class="h-auto bg-neutral-900 md:p-20 p-10 flex flex-col">
                    <div class="flex justify-center md:text-6xl text-3xl font-bold text-blue-700 md:p-20 p-10">
                        Orgulho dos nossos projetos
                    </div>
                    <section class=" w-full grid grid-cols-2 max-sm:grid-cols-1 min-lg:grid-cols-3 gap-4">
                        <a href="/projetod">
                            <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-8 pb-8 pt-40 max-w-md mx-auto mt-12">
                                <img src="./images/header.png" alt="University of Southern California" class="absolute inset-0 h-full w-full object-cover">
                                <div class="absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
                                <h3 class="z-10 mt-3 text-3xl font-bold text-white">3D</h3>
                                <div class="z-10 gap-y-1 overflow-hidden text-sm leading-6 text-gray-300">Beatriz Costa</div>
                            </article>
                        </a>
                        <a href="/projetod">
                            <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-8 pb-8 pt-40 max-w-md mx-auto mt-12">
                                <img src="./images/header.png" alt="University of Southern California" class="absolute inset-0 h-full w-full object-cover">
                                <div class="absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
                                <h3 class="z-10 mt-3 text-3xl font-bold text-white">3D</h3>
                                <div class="z-10 gap-y-1 overflow-hidden text-sm leading-6 text-gray-300">Beatriz Costa</div>
                            </article>
                        </a>
                        <a href="/projetod">
                            <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-8 pb-8 pt-40 max-w-md mx-auto mt-12">
                                <img src="./images/header.png" alt="University of Southern California" class="absolute inset-0 h-full w-full object-cover">
                                <div class="absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
                                <h3 class="z-10 mt-3 text-3xl font-bold text-white">3D</h3>
                                <div class="z-10 gap-y-1 overflow-hidden text-sm leading-6 text-gray-300">Beatriz Costa</div>
                            </article>
                        </a>
                        <a href="/projetod">
                            <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl px-8 pb-8 pt-40 max-w-md mx-auto mt-12">
                                <img src="./images/header.png" alt="University of Southern California" class="absolute inset-0 h-full w-full object-cover">
                                <div class="absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
                                <h3 class="z-10 mt-3 text-3xl font-bold text-white">3D</h3>
                                <div class="z-10 gap-y-1 overflow-hidden text-sm leading-6 text-gray-300">Beatriz Costa</div>
                            </article>
                        </a>
  
                    </section>
                    
                </main>
                <%- include('../partials/footer.ejs') %>