<%- include('../partials/header.ejs') %>
<body class="w-full">
    <%- include('../partials/menu.ejs') %>
    <%- include('../partials/menu2.ejs') %>
    <main class="bg-slate-100 flex flex-col gap-4">
        <section class="w-full h-2/4 flex flex-col items-center pt-28 max-sm:pt-24 bg-neutral-900 rounded-b-3xl overflow-hidden">
            <div class="flex justify-center md:mb-20 mb-10">
                <h1 class="md:text-6xl text-3xl font-bold text-customWhite">Sobre</h1>
            </div>
            <section class="flex md:flex-row flex-col w-5/6 gap-5 py-7">
                <article class="md:w-3/4 w-full flex justify-center md:mb-0 mb-4">
                    <img src="./images/project_cover_001.png" alt="Descrição da Imagem" class="rounded-lg shadow-lg transform transition-transform duration-500 hover:scale-105 hover:shadow-xl">
                </article>
                <article class="md:w-3/4 w-full">
                    <p class="text-gray-50 text-justify leading-relaxed transition-opacity duration-500 hover:opacity-75">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci beatae ab repudiandae aliquam odit recusandae, quos facilis quasi consequuntur fugit impedit ipsum explicabo cum, sit praesentium quia magnam commodi pariatur? Adipisci beatae ab repudiandae aliquam odit recusandae, quos facilis quasi consequuntur fugit impedit ipsum explicabo cum, sit praesentium quia magnam commodi pariatur? Adipisci beatae ab repudiandae aliquam odit recusandae, quos facilis quasi consequuntur fugit impedit ipsum explicabo cum, sit praesentium quia magnam commodi pariatur?
                    </p>
                </article>
            </section>
        </section>

        <section class="w-11/12 md:w-5/6 mx-auto mt-10 grid md:grid-cols-2 grid-cols-1 gap-4 my-10">
            <div class="bg-customWhite p-6 rounded-lg shadow-lg transform transition-all duration-500 hover:scale-105 hover:shadow-xl ">
                <h2 class="text-2xl font-bold mb-2">Fotografia</h2>
                <p>Descrição dos serviços de fotografia.</p>
            </div>
            <div class="bg-customWhite p-6 rounded-lg shadow-lg transform transition-all duration-500 hover:scale-105 hover:shadow-xl">
                <h2 class="text-2xl font-bold mb-2">3D</h2>
                <p>Descrição dos serviços de 3D.</p>
            </div>
            <div class="bg-customWhite p-6 rounded-lg shadow-lg transform transition-all duration-500 hover:scale-105 hover:shadow-xl">
                <h2 class="text-2xl font-bold mb-2">Vídeo</h2>
                <p>Descrição dos serviços de vídeo.</p>
            </div>
            <div class="bg-customWhite p-6 rounded-lg shadow-lg transform transition-all duration-500 hover:scale-105 hover:shadow-xl">
                <h2 class="text-2xl font-bold mb-2">Informática</h2>
                <p>Descrição dos serviços de informática.</p>
            </div>
        </section>
    </main>          
</body>       
<%- include('../partials/footer.ejs') %>
