<%- include('../partials/header.ejs') %>
    <body>
        <hr>
        <h2>Utilizadores</h2>
        <a href="/admin/users/create" class="btn btn-success">Criar novo utilizador</a>
        <table class="table">
            <thead>
                <tr><th>ID</th><th>email</th><th>Ações</th></tr>
            </thead>
            <tbody>
                <% users.forEach(user=>{%>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.email %></td>
                    <td>
                        Editar - Eliminar
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>        
    </body>
<%- include('../partials/footer.ejs') %>