<div class="w-full h-14 bg-gray-100 flex justify-between p-4">
    <div>
        <div class="space-y-2 cursor-pointer" id="btn_menu">
            <div class="w-8 h-0.5 bg-gray-600"></div>
            <div class="w-8 h-0.5 bg-gray-600"></div>
            <div class="w-8 h-0.5 bg-gray-600"></div>
        </div>
    </div>
    <div class="flex items-center">
        <span class="material-symbols-outlined">
            logout
        </span>
        <a href="" class="pl-2 text-gray-700 hover:text-gray-500 text-sm"><strong>Logout</strong></a>
    </div>

</div>