<footer>
    <div id="footer-container-columns">
        <div id="footer-column-1">
            <h3> COMUNICAÇÃO </h3>
            <ul>
                <li>Design gráfico </li>
                <li> Fotografia</li>
                <li> Design editorial </li>

            </ul>
        </div>

        <div id="footer-column-2">
            <h3> MULTIMÉDIA</h3>
       
            <ul>
                <li> Video Motion</li>
                <li>  graphics 3D</li>
                <li>  UX/UI  </li>
                
            </ul>
        </div>

        <div id="footer-column-3">
            <h3>GESTÃO INFORMÁTICA</h3>
          
            <ul>
                <li> Programação </li>
                <li> Gestão de redes </li>
                <li>  Desenvolvimento web</li>
                
            </ul>
        </div>
    </div>
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>