    <footer class="w-full relative z-10 flex md:flex-row flex-col gap-4 md:justify-around   bg-white p-4">
            <div>
                <h3 class="text-customBlue font-bold uppercase"> COMUNICAÇÃO </h3>
                <ul class="text-customBlack">
                    <li>Design gráfico </li>
                    <li> Fotografia</li>
                    <li> Design editorial </li>
                </ul>
            </div>
            <div>
                <h3 class="text-customBlue font-bold uppercase"> MULTIMÉDIA</h3>
                <ul class="text-customBlack">
                    <li> Video</li>
                    <li>  Motion graphics 3D</li>
                    <li>  UX/UI  </li>
                </ul>
            </div>
            <div>
                <h3 class="text-customBlue font-bold uppercase">GESTÃO INFORMÁTICA</h3>
                <ul class="text-customBlack">
                    <li> Programação </li>
                    <li> Gestão de redes </li>
                    <li>  Desenvolvimento web</li>
                </ul>
            </div>
    </footer>
    <script src="js/menu.js"></script>
</body>
</html>