</body>
<script>
    const sidebar = document.getElementById('menu');
    const menuButton = document.getElementById('menuButton');

    menuButton.addEventListener('click', () => {
        sidebar.classList.toggle('w-60');
        sidebar.classList.toggle('w-0');
    });

</script>

</html>