<div class="w-full absolute top-2 flex justify-center">
    <nav class="w-11/12 bg-neutral-800 shadow-custom-glass p-3 rounded-lg mix-blend-difference">
        <ul class="w-full flex justify-between items-center">
            <li class="text-3xl text-white font-bold"><a href="/">LOGO</a></li>
            <div class="flex space-x-8 text-lg text-white">
                <li><a href="sobre" class="hover:text-gray-300">Sobre</a></li>
                <li><a href="projetos" class="hover:text-gray-300">Projetos</a></li>
                <li><a href="bolsas" class="hover:text-gray-300">Bolsas</a></li>
                <li><a href="parcerias" class="hover:text-gray-300">Parcerias</a></li>
            </div>
        </ul>
    </nav>
</div>

  

