<div class="w-full flex bg-neutral-900 justify-center pt-5">
    <nav class="w-11/12 bg-customBlack bg-opacity-75 rounded-2xl absolute z-10">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-2 px-8">
            <a href="/" class="flex items-center">
                <img src="soon/home_epc-lab-logo.png" alt="EPC Lab Logo" class="h-12">
            </a>
            <button id="menu-button" type="button" class="inline-flex items-center p-2 w-12 h-12 justify-center text-sm rounded-lg md:hidden text-gray-400 focus:outline-none" aria-controls="navbar-solid-bg" aria-expanded="false">
                <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path id="menu-icon" class="block" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                    <path id="close-icon" class="hidden" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto font-bold" id="navbar-solid-bg">
                <ul class="flex flex-col font-medium mt-2 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent">
                    <li>
                        <a href="sobre" class="block py-2 px-3 md:p-0 text-gray-100 hover:text-customBlue rounded">Sobre</a>
                    </li>
                    <li>
                        <a href="projetos" class="block py-2 px-3 md:p-0 text-gray-100 hover:text-customBlue rounded">Projetos</a>
                    </li>
                    <li>
                        <a href="bolsas" class="block py-2 px-3 md:p-0 text-gray-100 hover:text-customBlue rounded">Bolsas</a>
                    </li>
                    <li>
                        <a href="parcerias" class="block py-2 px-3 md:p-0 text-white hover:text-customBlue rounded">Parcerias</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

