<aside class="transition-width duration-200 w-60 bg-neutral-900 text-white flex flex-col h-auto shadow-md" id="menu">
    <div class="pt-4 pb-6 text-center">
        <a href="dashboard"
            class="shadow-lg rounded-lg p-2 font-extrabold text-neutral-300 hover:text-neutral-400">EPCLAB</a>
    </div>
    <ul class="flex-1 pl-2 overflow-hidden">
        <li>
            <h1 class="font-bold text-sm uppercase text-gray-100 pb-1">Utilizadores</h1>
        </li>
        <li class="text-gray-100 p-1 flex items-center hover:bg-indigo-600 rounded-lg"><span
                class="material-symbols-outlined p-1">
                person_add
            </span><a href="/admin/createuser" class="p-1 text-sm">Inserir utilizador</a></li>
        <li class="text-gray-100 p-1 flex items-center hover:bg-indigo-600 rounded-lg"><span
                class="material-symbols-outlined p-1">
                manage_Accounts
            </span><a href="/admin/users" class="p-1 text-sm block">Gest達o utilizadores</a></li>
        <li>
            <h1 class="font-bold text-sm uppercase text-gray-100 pt-3 pb-1">Bolsas</h1>
        </li>
        <li class="text-gray-100 p-1 flex items-center hover:bg-indigo-600 rounded-lg"><span
                class="material-symbols-outlined p-1">
                school
            </span><a href="/admin/createbolsa" class="p-1 text-sm block">Inserir bolsa</a></li>
        <li class="text-gray-100 p-1 flex items-center hover:bg-indigo-600 rounded-lg"><span
                class="material-symbols-outlined p-1">
                work
            </span><a href="/admin/bolsas" class="p-1 text-sm block">Gest達o bolsas</a></li>
        <li>
            <h1 class="font-bold text-sm uppercase text-gray-100 pt-3 pb-1">Projetos</h1>
        </li>
        <li class="text-gray-100 p-1 flex items-center hover:bg-indigo-600 rounded-lg"><span
                class="material-symbols-outlined p-1">
                movie
            </span><a href="/admin/createprojeto" class="p-1 text-sm block">Inserir projeto</a></li>
        <li class="text-gray-100 p-1 flex items-center hover:bg-indigo-600 rounded-lg"><span
                class="material-symbols-outlined p-1">
                movie_edit
            </span><a href="/admin/projetos" class="p-1 text-sm block">Gest達o projetos</a></li>
        <li>
            <h1 class="font-bold text-sm uppercase text-gray-100 pt-3 pb-1">Parceiros</h1>
        </li>
        <li class="text-gray-100 p-1 flex items-center hover:bg-indigo-600 rounded-lg"><span
                class="material-symbols-outlined p-1">
                add_business
            </span><a href="/admin/createparceiro" class="p-1 text-sm block">Inserir parceiro</a></li>
        <li class="text-gray-100 p-1 flex items-center hover:bg-indigo-600 rounded-lg"><span
                class="material-symbols-outlined p-1">
                store
            </span><a href="/admin/parceiros" class="p-1 text-sm block">Gest達o parceiros</a></li>
    </ul>
</aside>