<div class="w-full h-screen  fixed bg-neutral-900 top-0 left-0 hidden" id="menu">
    <div class="flex flex-col gap-6 items-center w-full h-screen pt-10">
        <h1 class="text-gray-100 font-bold text-5xl hover:text-gray-500"><a href="sobre">Sobre</a></h1>
        <h1 class="text-gray-100 font-bold text-5xl hover:text-gray-500"><a href="projetos">Projetos</a></h1>
        <h1 class="text-gray-100 font-bold text-5xl hover:text-gray-500"><a href="bolsas">Bolsas</a></h1>
        <h1 class="text-gray-100 font-bold text-5xl hover:text-gray-500"><a href="parcerias">Parcerias</a></h1>
    </div>
    <button id="btnfechar" class="text-gray-100 absolute top-4 right-6 text-7xl">X</button>
</div>