<aside class="w-64 bg-gray-800 text-white flex flex-col">
    <nav class="flex-1 p-4">
      <ul>
        <li><a href="/admin/users" class="block py-2 px-4 hover:bg-gray-700">Utilizador</a></li>
        <li><a href="/admin/bolsas" class="block py-2 px-4 hover:bg-gray-700">Bolsas</a></li>
        <li><a href="/admin/projetos" class="block py-2 px-4 hover:bg-gray-700">Projetos</a></li>
        <li><a href="/admin/parceiros" class="block py-2 px-4 hover:bg-gray-700">Parceiros</a></li>
      </ul>
    </nav>
</aside>
  