<%- include('../../partials/header.ejs') %>

    <body>
        <div class="w-full h-screen flex">
            <%- include('../../partials/menuAdmin.ejs') %>
                <main class="w-4/5">
                    <%- include('../../partials/barra.ejs') %>
                        <div class="flex md:flex-row flex-col p-4">
                            <span class="font-bold uppercase text-gray-400 pr-2">Bolsas </span>
                            <span class="text-gray-400"> # Gestão </span>
                        </div>
                        <div class="flex pt-6 text-gray-700 bg-white shadow-md rounded-xl bg-clip-border">
                            <table>
                                <thead>
                                    <tr class="bg-gray-700 text-gray-100">
                                        <th class="p-2 border-b border-blue-gray-100 bg-blue-gray-50">Título</th>
                                        <th class="p-2 border-b border-blue-gray-100 bg-blue-gray-50">Área</th>
                                        <th class="p-2 border-b border-blue-gray-100 bg-blue-gray-50">Plano</th>
                                        <th class="p-2 border-b border-blue-gray-100 bg-blue-gray-50">Local</th>
                                        <th class="p-2 border-b border-blue-gray-100 bg-blue-gray-50">Duração</th>
                                        <th class="p-2 border-b border-blue-gray-100 bg-blue-gray-50">Criado em </th>
                                        <th class="p-2 border-b border-blue-gray-100 bg-blue-gray-50">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="py-1 px-4 border-b border-blue-gray-50"></td>
                                        <td class="py-1 px-4 border-b border-blue-gray-50"></td>
                                        <td class="py-1 px-4 border-b border-blue-gray-50"></td>
                                        <td class="py-1 px-4 border-b border-blue-gray-50"></td>
                                        <td class="py-1 px-4 border-b border-blue-gray-50"></td>
                                        <td class="py-1 px-4 border-b border-blue-gray-50">27/05/2024</td>
                                        <td class="py-1 px-4 flex  justify-between p-4 border-b border-blue-gray-50">
                                            <a href="" title="Ver" class="px-1"><span class="material-symbols-outlined">
                                                    visibility
                                                </span></a>
                                            <a href="" title="Editar" class="px-1"><span
                                                    class="material-symbols-outlined">
                                                    edit
                                                </span></a>
                                            <a href="" title="Eliminar" class="px-1"><span
                                                    class="material-symbols-outlined">
                                                    delete
                                                </span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </main>
        </div>
    </body>

    </html>