<%- include('../../partials/header.ejs') %>

    <body>
        <div class="w-full h-screen flex">
            <%- include('../../partials/menuAdmin.ejs') %>
                <main class="w-4/5">
                    <%- include('../../partials/barra.ejs') %>
                        <div class="flex md:flex-row flex-col p-4">
                            <span class="font-bold uppercase text-gray-400 pr-2">Parceiros </span>
                            <span class="text-gray-400"> # Inserir </span>
                        </div>
                        <div class="md:w-1/2 w-full p-10">
                            <form action="" method="post">
                                <div class="flex flex-col">
                                    <label for="nome" class="text-gray-400 py-2">Nome</label>
                                    <input type="text" name="nome" autofocus class="border-b-2 focus:outline-none">
                                </div>
                                <div class="flex flex-col">
                                    <label for="email" class="text-gray-400 py-2">Email</label>
                                    <input type="email" name="email" required class="border-b-2 focus:outline-none">
                                </div>
                                <div class="flex flex-col">
                                    <label for="password" class="text-gray-400 py-2">Palavra-Passe:</label>
                                    <input type="password" name="password" required
                                        class="border-b-2 focus:outline-none">
                                </div>
                                <div class="flex flex-col">
                                    <label for="cpassword" class="text-gray-400 py-2">Confirmar Palavra-Passe:</label>
                                    <input type="password" name="cpassword" required
                                        class="border-b-2 focus:outline-none">
                                </div>
                                <div>
                                    <input type="submit" name="criar" value="Criar Utilizador"
                                        class="w-full mt-2 bg-gray-800 hover:bg-gray-600 px-4 py-2 rounded-xl shadow-xl text-gray-100 cursor-pointer">
                                </div>
                            </form>
                        </div>
                </main>
        </div>
    </body>

    </html>