<%- include('../../partials/header.ejs') %>

    <body class="flex-1">
        <div class="flex h-screen">
            <%- include('../../partials/menuAdmin.ejs') %>
                <main class="flex-1">
                    <%- include('../../partials/barra.ejs') %>
                        <div class="p-4">
                            <div class="flex bg-neutral-100 mb-4 p-2 shadow">
                                <span class="font-bold uppercase text-indigo-600 text-sm">Projetos</span>
                                <span class="font-serif text-gray-400 text-sm"> &nbsp; | Inserir </span>
                            </div>
                            <form action="" method="post" class="w-1/2">
                                <div class="flex flex-col">
                                    <label for="teste" class="text-neutral-500 py-2">Formulário Projeto</label>
                                </div>
                                <div>
                                    <input type="submit" name="criar" value="Inserir Projeto"
                                        class="w-36 mt-10 px-2 py-2 bg-indigo-800 rounded shadow text-neutral-200 hover:bg-indigo-600 text-sm font-bold cursor-pointer">
                                </div>
                            </form>
                        </div>
                </main>
        </div>
        <%- include('../../partials/footerAdmin.ejs') %>