<%- include('../../partials/header.ejs') %>
<body class="flex-1 bg-gray-50">
    <div class="flex h-screen">
        <%- include('../../partials/menuAdmin.ejs') %>
        <main class="flex-1 flex flex-col">
            <%- include('../../partials/barra.ejs') %>
            <div class="flex-1 px-6 py-4">
                <div class="flex bg-neutral-100 mb-4 p-4 shadow rounded-lg">
                    <span class="font-bold uppercase text-indigo-600 text-sm"><a href="/admin/users">Utilizadores</a></span>
                    <span class="font-serif text-gray-400 text-sm">&nbsp; | Inserir </span>
                </div>
                <form action="" method="post" enctype="multipart/form-data" class="bg-white p-6 rounded-lg shadow-md w-full">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="flex flex-col mb-4">
                            <label for="nome" class="text-neutral-600 py-2 text-sm">Nome</label>
                            <input type="text" name="nome" autofocus class="border border-gray-300 rounded-md p-2 focus:border-indigo-500 focus:outline-none" maxlength="100">
                        </div>
                        <div class="flex flex-col mb-4">
                            <label for="email" class="text-neutral-600 py-2 text-sm">Email</label>
                            <input type="email" name="email" required class="border border-gray-300 rounded-md p-2 focus:border-indigo-500 focus:outline-none" maxlength="100">
                        </div>
                        <div class="flex flex-col mb-4">
                            <label for="password" class="text-neutral-600 py-2 text-sm">Palavra-Passe</label>
                            <input type="password" name="password" required class="border border-gray-300 rounded-md p-2 focus:border-indigo-500 focus:outline-none" maxlength="20">
                        </div>
                        <div class="flex flex-col mb-4">
                            <label for="cpassword" class="text-neutral-600 py-2 text-sm">Confirmar Palavra-Passe</label>
                            <input type="password" name="cpassword" required class="border border-gray-300 rounded-md p-2 focus:border-indigo-500 focus:outline-none" maxlength="20">
                        </div>
                        <div class="flex flex-col mb-4">
                            <label for="imagem" class="text-neutral-600 py-2 text-sm">Imagem</label>
                            <input type="file" name="imagem" class="border border-gray-300 rounded-md p-2 focus:border-indigo-500 focus:outline-none">
                        </div>
                    </div>
                    <div class="flex justify-center">
                        <input type="submit" name="criar" value="Inserir Utilizador" class="mt-6 px-4 py-2 bg-indigo-800 rounded shadow text-white hover:bg-indigo-600 text-sm font-bold cursor-pointer">
                    </div>
                </form>
            </div>
        </main>
    </div>
    <%- include('../../partials/footerAdmin.ejs') %>
</body>
