<%- include('../../partials/header.ejs') %>

<body class="flex-1 bg-gray-100">
    <div class="flex h-screen">
        <%- include('../../partials/menuAdmin.ejs') %>
        <main class="flex-1">
            <%- include('../../partials/barra.ejs') %>
            <div class="px-8 py-4">
                <div class="flex bg-neutral-100 mb-4 p-4 rounded-lg shadow">
                    <span class="font-bold uppercase text-indigo-600 text-sm">
                        <a href="/admin/bolsas">Bolsas</a>
                    </span>
                    <span class="font-serif text-gray-400 text-sm ml-2">| Inserir</span>
                </div>
                <form action="" method="post" enctype="multipart/form-data" class="bg-white p-6 rounded-lg shadow-md">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <div>
                            <!-- Form fields as before -->
                            <div class="mb-4">
                                <label for="titulo" class="text-neutral-500 py-2 text-sm">Título</label>
                                <textarea name="titulo" class="border border-neutral-300 rounded-md p-2 w-full focus:ring-2 focus:ring-indigo-600 focus:outline-none transition duration-300 ease-in-out transform hover:scale-105"></textarea>
                            </div>
                            <div class="mb-4">
                                <label for="descricao" class="text-neutral-500 py-2 text-sm">Descrição</label>
                                <textarea name="descricao" class="border border-neutral-300 rounded-md p-2 w-full focus:ring-2 focus:ring-indigo-600 focus:outline-none transition duration-300 ease-in-out transform hover:scale-105" maxlength="300"></textarea>
                            </div>
                            <div class="mb-4">
                                <label for="area" class="text-neutral-500 py-2 text-sm">Área de Atuação</label>
                                <textarea name="area" class="border border-neutral-300 rounded-md p-2 w-full focus:ring-2 focus:ring-indigo-600 focus:outline-none transition duration-300 ease-in-out transform hover:scale-105" maxlength="300"></textarea>
                            </div>
                            <div class="mb-4">
                                <label for="objetivo" class="text-neutral-500 py-2 text-sm">Objetivo do projeto</label>
                                <textarea name="objetivo" class="border border-neutral-300 rounded-md p-2 w-full focus:ring-2 focus:ring-indigo-600 focus:outline-none transition duration-300 ease-in-out transform hover:scale-105" maxlength="300"></textarea>
                            </div>
                            <div class="mb-4">
                                <label for="plano" class="text-neutral-500 py-2 text-sm">Plano de trabalho</label>
                                <textarea name="plano" class="border border-neutral-300 rounded-md p-2 w-full focus:ring-2 focus:ring-indigo-600 focus:outline-none transition duration-300 ease-in-out transform hover:scale-105" maxlength="300"></textarea>
                            </div>
                            <div class="mb-4">
                                <label for="local" class="text-neutral-500 py-2 text-sm">Local de trabalho</label>
                                <textarea name="local" class="border border-neutral-300 rounded-md p-2 w-full focus:ring-2 focus:ring-indigo-600 focus:outline-none transition duration-300 ease-in-out transform hover:scale-105" maxlength="300"></textarea>
                            </div>
                            <div class="mb-4">
                                <label for="duracao" class="text-neutral-500 py-2 text-sm">Duração e regime de trabalho</label>
                                <textarea name="duracao" class="border border-neutral-300 rounded-md p-2 w-full focus:ring-2 focus:ring-indigo-600 focus:outline-none transition duration-300 ease-in-out transform hover:scale-105" maxlength="300"></textarea>
                            </div>
                        </div>
                        <div>
                            <!-- Additional form fields as before -->
                            <div class="mb-4">
                                <label for="condicoes" class="text-neutral-500 py-2 text-sm">Condições da bolsa</label>
                                <textarea name="condicoes" class="border border-neutral-300 rounded-md p-2 w-full focus:ring-2 focus:ring-indigo-600 focus:outline-none transition duration-300 ease-in-out transform hover:scale-105" maxlength="300"></textarea>
                            </div>
                            <div class="mb-4">
                                <label for="criterios" class="text-neutral-500 py-2 text-sm">Critérios de avaliação e formalização da candidatura</label>
                                <textarea name="criterios" class="border border-neutral-300 rounded-md p-2 w-full focus:ring-2 focus:ring-indigo-600 focus:outline-none transition duration-300 ease-in-out transform hover:scale-105" maxlength="300"></textarea>
                            </div>
                            <div class="mb-4">
                                <label for="composicao" class="text-neutral-500 py-2 text-sm">Composição do júri de seleção</label>
                                <textarea name="composicao" class="border border-neutral-300 rounded-md p-2 w-full focus:ring-2 focus:ring-indigo-600 focus:outline-none transition duration-300 ease-in-out transform hover:scale-105" maxlength="300"></textarea>
                            </div>
                            <div class="mb-4">
                                <label for="prazo" class="text-neutral-500 py-2 text-sm">Prazo e receção de candidaturas</label>
                                <textarea name="prazo" class="border border-neutral-300 rounded-md p-2 w-full focus:ring-2 focus:ring-indigo-600 focus:outline-none transition duration-300 ease-in-out transform hover:scale-105" maxlength="300"></textarea>
                            </div>
                            <div class="mb-4">
                                <label for="resultados" class="text-neutral-500 py-2 text-sm">Publicação/notificação dos resultados</label>
                                <textarea name="resultados" rows="4" class="border border-neutral-300 rounded-md p-2 w-full focus:ring-2 focus:ring-indigo-600 focus:outline-none transition duration-300 ease-in-out transform hover:scale-105" maxlength="300"></textarea>
                            </div>
                            <div class="mb-4">
                                <label for="imagem" class="text-neutral-500 py-2 text-sm">Imagem</label>
                                <div class="flex items-center justify-center w-full">
                                    <label class="flex flex-col rounded-lg border-4 border-dashed w-full h-32 group text-center">
                                        <div class="h-full w-full text-center flex flex-col items-center justify-center items-center  ">
                                            <div class="flex flex-auto max-h-48 w-2/5 mx-auto -mt-10">
                                                <img id="imagePreview" class="hidden w-full h-full object-cover">
                                            </div>
                                            <p class="pointer-none text-gray-500 "><span class="text-sm">Arraste ou clique para selecionar um arquivo</span></p>
                                        </div>
                                        <input type="file" name="imagem" id="imagem" class="hidden">
                                    </label>
                                </div>
                            </div>
                            <div class="pt-4">
                                <input type="submit" name="criar" value="Inserir Bolsa" class="w-full md:w-auto px-4 py-2 bg-indigo-800 text-white rounded shadow hover:bg-indigo-600 hover:scale-105 transition duration-300 ease-in-out text-sm font-bold cursor-pointer">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>
    <%- include('../../partials/footerAdmin.ejs') %>
    <script>
        document.getElementById('imagem').addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const img = document.getElementById('imagePreview');
                    img.src = e.target.result;
                    img.classList.remove('hidden');
                }
                reader.readAsDataURL(file);
            }
        });
    </script>


