<%- include('../../partials/header.ejs') %>

    <body class="flex-1">
        <div class="flex h-screen">
            <%- include('../../partials/menuAdmin.ejs') %>
                <main class="flex-1">
                    <%- include('../../partials/barra.ejs') %>
                        <div class="p-4">
                            <div class="flex bg-neutral-100 mb-4 p-2 shadow">
                                <span class="font-bold uppercase text-gray-400 text-sm">Utilizadores</span>
                                <span class="font-serif text-gray-400 text-sm"> &nbsp; | Inserir </span>
                            </div>
                            <form action="" method="post" class="md:w-1/2 w-full">
                                <div class="flex flex-col">
                                    <label for="nome" class="text-neutral-500 py-2 text-sm">Nome</label>
                                    <input type="text" name="nome" autofocus class="border-b-2 focus:outline-none"
                                        maxlength="100">
                                </div>
                                <div class="flex flex-col">
                                    <label for="email" class="text-neutral-500 py-2 text-sm">Email</label>
                                    <input type="email" name="email" required class="border-b-2 focus:outline-none"
                                        maxlength="100">
                                </div>
                                <div class="flex flex-col">
                                    <label for="password" class="text-neutral-500 py-2 text-sm">Palavra-Passe:</label>
                                    <input type="password" name="password" required
                                        class="border-b-2 focus:outline-none" maxlength="20">
                                </div>
                                <div class="flex flex-col">
                                    <label for="cpassword" class="text-neutral-500 py-2 text-sm">Confirmar
                                        Palavra-Passe:</label>
                                    <input type="password" name="cpassword" required
                                        class="border-b-2 focus:outline-none" maxlength="20">
                                </div>
                                <div>
                                    <input type="submit" name="criar" value="Inserir Utilizador"
                                        class="w-full mt-10 px-2 py-2 bg-neutral-800 rounded shadow text-neutral-200 hover:bg-neutral-600 text-sm font-bold cursor-pointer">
                                </div>
                            </form>
                        </div>
                </main>
        </div>
        <%- include('../../partials/footerAdmin.ejs') %>