<%- include('../../partials/header.ejs') %>

    <body class="flex-1">
        <div class="flex h-screen">
            <%- include('../../partials/menuAdmin.ejs') %>
                <main class="flex-1">
                    <%- include('../../partials/barra.ejs') %>
                        <div class="p-2 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2">
                            <div class="p-4 bg-orange-300 h-36 text-6xl">01</div>
                            <div class="p-4 bg-fuchsia-500 h-36 text-6xl">02</div>
                            <div class="p-4 bg-cyan-600 h-36 text-6xl">03</div>
                            <div class="p-4 bg-violet-950 h-36 text-6xl">04</div>
                        </div>
                </main>
        </div>
        <%- include('../../partials/footerAdmin.ejs') %>