<%- include('../../partials/header.ejs') %>

    <body>
        <div class="w-full h-screen flex">
            <%- include('../../partials/menuAdmin.ejs') %>
                <main class="w-4/5">
                    <%- include('../../partials/barra.ejs') %>
                        <div class="flex md:flex-row flex-col p-4">
                            <span class="font-bold uppercase text-gray-400 pr-2">Dashboard </span>
                        </div>
                </main>
        </div>
    </body>

    </html>