<%- include('../../partials/header.ejs') %>

    <body class="flex-1">
        <div class="flex h-screen">
            <%- include('../../partials/menuAdmin.ejs') %>
                <main class="flex-1">
                    <%- include('../../partials/barra.ejs') %>
                        <div class="px-4 py-2">
                            <div class="flex bg-neutral-100 mb-4 p-2 shadow">
                                <span class="font-bold uppercase text-indigo-600 text-sm"><a
                                        href="/admin/bolsas">Bolsas</a></span>
                                <span class="font-serif text-gray-400 text-sm"> &nbsp; | Editar </span>
                            </div>
                            <form action="" method="post">
                                <div class="flex md:flex-row flex-col gap-4">
                                    <div class="md:w-1/2 w-full">
                                        <div class="flex flex-col">
                                            <label for="titulo" class="text-neutral-500 py-2 text-sm">Título</label>
                                            <textarea name="titulo" class="border-b-2 focus:outline-none"></textarea>
                                        </div>
                                        <div class="flex flex-col">
                                            <label for="descricao"
                                                class="text-neutral-500 py-2 text-sm">Descrição</label>
                                            <textarea name="descricao" class="border-b-2 focus:outline-none"
                                                maxlenght="300"></textarea>
                                        </div>
                                        <div class="flex flex-col">
                                            <label for="area" class="text-neutral-500 py-2 text-sm">Área de
                                                Atuação</label>
                                            <textarea name="area" class="border-b-2 focus:outline-none"
                                                maxlenght="300"></textarea>
                                        </div>
                                        <div class="flex flex-col">
                                            <label for="objetivo" class="text-neutral-500 py-2 text-sm">Objetivo do
                                                projeto</label>
                                            <textarea name="objetivo" class="border-b-2 focus:outline-none"
                                                maxlenght="300"></textarea>
                                        </div>
                                        <div class="flex flex-col">
                                            <label for="plano" class="text-neutral-500 py-2 text-sm">Plano de
                                                trabalho</label>
                                            <textarea name="plano" class="border-b-2 focus:outline-none"
                                                maxlenght="300"></textarea>
                                        </div>
                                        <div class="flex flex-col">
                                            <label for="local" class="text-neutral-500 py-2 text-sm">Local de
                                                trabalho</label>
                                            <textarea name="local" class="border-b-2 focus:outline-none"
                                                maxlenght="300"></textarea>
                                        </div>
                                        <div class="flex flex-col">
                                            <label for="duracao" class="text-neutral-500 py-2 text-sm">Duração e regime
                                                de
                                                trabalho</label>
                                            <textarea name="duracao" class="border-b-2 focus:outline-none"
                                                maxlenght="300"></textarea>
                                        </div>
                                    </div>
                                    <div class="md:w-1/2 w-full">
                                        <div class="flex flex-col">
                                            <label for="condicoes" class="text-neutral-500 py-2 text-sm">Condições da
                                                bolsa</label>
                                            <textarea name="condicoes" class="border-b-2 focus:outline-none"
                                                maxlenght="300"></textarea>
                                        </div>
                                        <div class="flex flex-col">
                                            <label for="criterios" class="text-neutral-500 py-2 text-sm">Critérios de
                                                avaliação
                                                e
                                                formalização
                                                da candidatura</label>
                                            <textarea name="criterios" class="border-b-2 focus:outline-none"
                                                maxlenght="300"></textarea>
                                        </div>
                                        <div class="flex flex-col">
                                            <label for="composicao" class="text-neutral-500 py-2 text-sm">Composição do
                                                júri de
                                                seleção</label>
                                            <textarea name="composicao" class="border-b-2 focus:outline-none"
                                                maxlenght="300"></textarea>
                                        </div>
                                        <div class="flex flex-col">
                                            <label for="prazo" class="text-neutral-500 py-2 text-sm">Prazo e receção de
                                                candidaturas</label>
                                            <textarea name="prazo" class="border-b-2 focus:outline-none"
                                                maxlenght="300"></textarea>
                                        </div>
                                        <div class="flex flex-col">
                                            <label for="resultados"
                                                class="text-neutral-500 py-2 text-sm">Publicação/notificação
                                                dos
                                                resultados</label>
                                            <textarea name="resultados" rows=4 class="border-b-2 focus:outline-none"
                                                maxlenght="300"></textarea>
                                        </div>
                                        <div class="flex flex-col">
                                            <label for="imagem" class="text-neutral-500 py-2 text-sm">Imagem</label>
                                            <input type="file" name="imagem"
                                                class="border-b-2 focus:outline-none text-sm">
                                        </div>
                                        <div class="pt-4">
                                            <input type="submit" name="criar" value="Guardar Bolsa"
                                                class="w-36 px-2 py-2 bg-orange-600 rounded shadow text-neutral-200 hover:bg-orange-400 text-sm font-bold cursor-pointer">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                </main>
        </div>
        <%- include('../../partials/footerAdmin.ejs') %>