<%- include('../../partials/header.ejs') %>

    <body class="flex-1">
        <div class="flex h-screen">
            <%- include('../../partials/menuAdmin.ejs') %>
                <main class="flex-1 flex flex-col">
                    <%- include('../../partials/barra.ejs') %>
                        <div class="flex-1 p-4">
                            <div class="flex bg-neutral-100 mb-4 p-2 shadow">
                                <span class="font-bold uppercase text-gray-400 text-sm">Utilizadores</span>
                                <span class="font-serif text-gray-400 text-sm"> &nbsp; | Gestão </span>
                            </div>
                            <div class="flex md:justify-end justify-start py-2">
                                <a href="/admin/createuser"
                                    class="px-2 py-2 bg-neutral-800 rounded shadow text-neutral-200 hover:bg-neutral-600 text-sm font-bold cursor-pointer">Novo
                                    Utilizador</a>
                            </div>
                            <table class="w-full shadow">
                                <thead>
                                    <tr class="bg-neutral-600 text-neutral-200">
                                        <th class="p-2 border-b border-blue-gray-100 bg-blue-gray-50 text-sm">ID</th>
                                        <th class="p-2 border-b border-blue-gray-100 bg-blue-gray-50 text-sm">Nome</th>
                                        <th class="p-2 border-b border-blue-gray-100 bg-blue-gray-50 text-sm">Email</th>
                                        <th class="p-2 border-b border-blue-gray-100 bg-blue-gray-50 text-sm">Criado em
                                        </th>
                                        <th class="p-2 border-b border-blue-gray-100 bg-blue-gray-50 text-sm">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="hover:bg-neutral-100">
                                        <td class="py-1 px-4 border-b border-blue-gray-50 text-sm">1</td>
                                        <td class="py-1 px-4 border-b border-blue-gray-50 text-sm">Marco</td>
                                        <td class="py-1 px-4 border-b border-blue-gray-50 text-sm">
                                            marcosilva@epcarvalhais.org
                                        </td>
                                        <td class="py-1 px-4 border-b border-blue-gray-50 text-sm">27/05/2024</td>
                                        <td class="py-1 px-4 flex  justify-center p-4 border-b border-blue-gray-50">
                                            <a href="" title="Alterar Palavra-passe" class="px-1"><span
                                                    class="material-symbols-outlined">
                                                    password
                                                </span></a>
                                            <a href="" title="Editar" class="px-1"><span
                                                    class="material-symbols-outlined">
                                                    edit
                                                </span></a>
                                            <a href="" title="Eliminar" class="px-1"><span
                                                    class="material-symbols-outlined">
                                                    delete
                                                </span></a>
                                        </td>
                                    </tr>
                                    <tr class="hover:bg-neutral-100">
                                        <td class="py-1 px-4 border-b border-blue-gray-50 text-sm">1</td>
                                        <td class="py-1 px-4 border-b border-blue-gray-50 text-sm">Marco</td>
                                        <td class="py-1 px-4 border-b border-blue-gray-50 text-sm">
                                            marcosilva@epcarvalhais.org
                                        </td>
                                        <td class="py-1 px-4 border-b border-blue-gray-50 text-sm">27/05/2024</td>
                                        <td class="py-1 px-4 flex justify-center p-4 border-b border-blue-gray-50">
                                            <a href="" title="Alterar Palavra-passe" class="px-1"><span
                                                    class="material-symbols-outlined">
                                                    password
                                                </span></a>
                                            <a href="" title="Editar" class="px-1"><span
                                                    class="material-symbols-outlined">
                                                    edit
                                                </span></a>
                                            <a href="" title="Eliminar" class="px-1"><span
                                                    class="material-symbols-outlined">
                                                    delete
                                                </span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </main>
        </div>
        <%- include('../../partials/footerAdmin.ejs') %>