<%- include('../../../partials/header.ejs') %>

    <body>
        <div class="bg-neutral-900">
            <hr>
            <div class="bg-gray-100">
                <div>
                    <h2 class="font-bold text-neutral-900 text-xl">Criar Utilizador</h2>
                </div>
                <div class="card-body">
                    <form action="/users/create" method="post">
                        <input type="email" class="form-controlo" name="email" placeholder="email@exemplo.pt"><br>
                        <input type="password" class="form-controlo" name="password" placeholder="******"><br>
                        <button type="submit" class="btn btn-primary">Criar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <%- include('../../../partials/footer.ejs') %>